service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/expenses/{expenseId} {
      allow read, delete: if request.auth.uid == userId;
      allow create, update: if request.auth.uid == userId &&
                               request.resource.data.description.size() > 0 &&
                               request.resource.data.description is string &&
                               request.resource.data.note is string &&
                               request.resource.data.amount is int &&
                               request.resource.data.createdAt is int;
    }
  }
}
